body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #2ecc71; /* green */
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Add extra left margin to the first link */
.navbar a.nav-home {
  margin-left: 100px;
}

.navbar a:hover {
  background-color: #27ae60; /* darker green on hover */
  color: #f1f1f1;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px 0;
}


.site-footer {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}

.site-footer a {
  color: #006400;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}
  

.creators {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px 200px;
  text-align: center;
}

.creator img {
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.creator img:hover {
  transform: scale(1.05);
}

.creator a {
  text-decoration: none;
  color: #006400;
}

.creator a:hover {
  text-decoration: underline;
}

.creator a {
  text-decoration: none;
  color: #006400;
  font-weight: bold;
}

.creator a:hover {
  text-decoration: underline;
}
